%p#notice= notice
.card
  .card-header
    %h1.display-4
      Тип работы # #{@worktype.id}
  .card-body
    %p
      %b Название:
      = @worktype.name
    .form_actions
      = link_to 'Назад', worktypes_path, :class => 'btn btn-primary '
      = link_to 'Редактировать', edit_worktype_path(@worktype), :class => 'btn btn-outline-primary'
