- cache evaluation do
  %tr{"data-controller" => "row-link", "data-row-link-href" => url_for(evaluation), class: [('table-warning' if evaluation.status_id == 1), ('table-danger' if evaluation.stale?), ('table-info' if evaluation.inthework?), ('table-success' if evaluation.done?)]}
    %td.col-md-2{ "data-action" => "click->row-link#click"}
      %h6.my-0
        = link_to evaluation.id, evaluation_path(evaluation)
      .small.text-muted
        - if evaluation.status_id == 1 || evaluation.status_id == 2
          - if  (Date.today - evaluation.date) > 2
            %span.badge.bg-danger
              - x = Date.today
              - y = evaluation.date
              = days = (x - y).to_i
          - else
            %span.badge.bg-secondary
              - x = Date.today
              - y = evaluation.date
              = days = (x - y).to_i
        - if evaluation.otype_id == 1
          СМЕТА
        - if evaluation.otype_id == 2
          ОЦЕНКА РЫНОЧНОЙ СТОИМОСТИ
        - if evaluation.otype_id == 3
          АКТ ОСМОТРА
        - if evaluation.otype_id == 4
          СПРАВКА О СТОИМОСТИ
        %br
        - if evaluation.polis_type_id == 1
          ОСАГО
        - if evaluation.polis_type_id == 2
          КАСКО
        - if evaluation.done == true
          %i.bi.bi-lock-fill
        - if evaluation.images.attached?
          %i.text-primary.bi.bi-file-image
        - if evaluation.additions.attached?
          %i.text-primary.bi.bi-file-earmark-text-fill
    %td.col-md-1{"data-action" => "click->row-link#click"}   
      - if evaluation.nocenka.nil?
        %td.col-md-1.table-secondary.align-middle{"data-action" => "click->row-link#click"}
          %i.small.text-muted.bi.bi-dash-circle
      - else
        %td.col-md-1{"data-action" => "click->row-link#click"}
          %h6.my-0
            = evaluation.nocenka
            .small.text-muted
              = evaluation.datexp.strftime("%d.%m.%Y") if evaluation.datexp?
    %td.col-md-1{"data-action" => "click->row-link#click"}
      %h6.my-0
        = evaluation.nact
      .small.text-muted
        = evaluation.date.strftime("%d.%m.%Y") if evaluation.nact?
    %td.col-md-1{"data-action" => "click->row-link#click"}
      %h6.my-0
        = evaluation.specialist.name if evaluation.specialist_id?
      .small.text-muted
        = evaluation.specialist.email if evaluation.specialist_id?
    %td.col-md-1{"data-action" => "click->row-link#click"}
      %h6.my-0
        = evaluation.appraiser.name if evaluation.appraiser_id?
      .small.text-muted
        = evaluation.appraiser.email if evaluation.appraiser_id?
    %td.col-md-1{"data-action" => "click->row-link#click"}
      %h6.my-0
        = evaluation.date.strftime("%d.%m.%Y")
      .small.text-muted
        - if evaluation.datexp?
          оценено
          = evaluation.datexp.strftime("%d.%m.%Y") 
    %td.col-md-1{"data-action" => "click->row-link#click"}
      %h6.my-0
        = evaluation.city.name if evaluation.city_id?
      .small.text-muted
        - if evaluation.viezd?
          выезд
        - if evaluation.km?
          на 
          = evaluation.km
          км.

    %td.col-md-2{"data-action" => "click->row-link#click"}
      %h6.my-0
        = evaluation.object
        
      .small.text-muted
        = evaluation.place
        %br
        = evaluation.owner
    %td.col-md-1{"data-action" => "click->row-link#click"}
      = evaluation.customer.name
