= simple_form_for @evaluation, html: { :multipart => true } do |f|
  = f.error_notification
  .row.row-cols-2
    .col
      %h3 Основные данные
      = f.association :otype, :as => :radio_buttons, :label => 'Тип дела', wrapper: :vertical_collection_inline
      = f.input :collect, :label => 'Прием документов', :class => "strong"

      .row
        .col-7
          = f.input :nact, :label => 'Номер акта'
        .col
          = f.input :specialist_id, collection: User.specialist.where(active: '1').order('name ASC'), :label => 'Кто делал акт осмотра' #  selected: @current_user.id

      = f.input :date, :label => 'Дата акта', as: :string, input_html: { id: 'datepicker', class: 'datepicker', data: { toggle: 'datetimepicker', target: '#datepicker' }  }
      = f.input :customer_id, collection: User.customer.where(active: '1').order('name ASC'), :hint => "Заказчик или страховая компания", :label => 'Заказчик'
      = f.association :polis_type, :as => :radio_buttons, :label => 'Тип полиса страхования'
      = f.input :polis_number, :label => '№ полиса страхования'
      
      = f.input :ncase, :label => '№ убытка'
      %h3 Место осмотра
      .row
        .col
          = f.association :city,
            :collection => City.all,
            :label => 'Отделение'
        .col
          = f.input :place, :class => "text_field", :label => 'Адрес осмотра'
      .custom-control.custom-switch.mr-2
        = f.check_box :viezd, class: "custom-control-input", id: "customSwitch2"
        %label.custom-control-label{:for => "customSwitch2"} Выезд?
      = f.input :km, :label => 'Расстояние'
    .col
      %h3 Экспертиза и приложения
      .row
        .col
          = f.input :datexp,  :label => 'Дата оценки', :input_html => { :class => 'datepicker'}, :as => :string
        .col  
          = f.input :nocenka, :label => '№ оценки'
        .col
          = f.input :appraiser_id, collection: User.appraiser.where(active: '1').order('name ASC'), :label => 'Оценщик'
      .dropzone.dropzone-default.dz-clickable{"data-controller" => "dropzone", "data-dropzone-max-file-size" => "300", "data-dropzone-max-files" => "30"}
        = f.file_field :additions, multiple: true, direct_upload: true, data: { target: 'dropzone.input' }
        .dropzone-msg.dz-message.needsclick.text-gray-600
          .i.bi.bi-cloud-arrow-up-fill.text-gray-600.h1
          %h3.dropzone-msg-title Загрузить приложения
          %span.dropzone-msg-desc.text-sm Оценка, направления и другое
      %h3 Статус дела
      = f.association :status, :as => :radio_buttons, :label => 'Статус'
      = f.input :paymentcontrol, :class => "check_boxes", :label => 'Контроль оплаты'
      - if current_user.admin?
        = f.input :done, :class => "check_boxes", :label => 'Закрыто?'
      
      %h3 Объект оценки
      .row
        .col
          = f.input :object, :label => 'Тип объекта (квартира, дом и т.п.)'
        .col
          = f.input :owner, :label => 'Собственник'
  
      %h3 Книга регистрации
      .row
        .col 
          = f.input :summ_act, :label => 'Осмотр', id: 'summ_act'
        .col
          = f.input :summ_viezd, :label => 'Выезд'
        .col
          = f.input :summ_exp, :label => 'Оценка'
      .custom-control.custom-switch.mr-2
        = f.check_box :nal, class: "custom-control-input", id: "customSwitch1"
        %label.custom-control-label{:for => "customSwitch1"} Наличный расчет?
  .row.row-cols-auto
    .col-md-12
      %h3 Свободное содержание
      .form-group
        = f.rich_text_area :content

  .row.row-cols-auto
    .col-md-12
      %h3 Фотографии
      .dropzone.dropzone-default.dz-clickable{"data-controller" => "dropzone", "data-dropzone-max-file-size" => "20", "data-dropzone-max-files" => "200", "data-dropzone-accepted-files" => "image/*"}
        = f.file_field :images, multiple: true, direct_upload: true, data: { target: 'dropzone.input' }
        .dropzone-msg.dz-message.needsclick.text-gray-600
          .i.bi.bi-camera-fill.text-gray-600.h1
          %h3.dropzone-msg-title Загрузить фотоматериалы
          %span.dropzone-msg-desc.text-sm Графические изображения
  .form_actions
    = f.submit nil, :class => 'btn btn-primary', :value => "Сохранить"
    = link_to t('.cancel', :default => t("Отмена")), evaluations_path, :class => 'btn btn-outline-secondary'
