%ol.nav.justify-content-end
  %li.breadcrumb-item
    = link_to 'Все дела ', evaluations_path, class: "scope-link"
    %span.badge.bg-secondary= policy_scope(Evaluation).all.size
  %li.breadcrumb-item
    = link_to_active 'Не распределенные ', evaluations_path(q: {status_id_eq: '1'}), class: "scope-link"
    %span.badge.bg-secondary= policy_scope(Evaluation).unregistered.count
  %li.breadcrumb-item
    = link_to_active 'В работе ', evaluations_path(q: {status_id_eq: '2'}), class: "scope-link"
    %span.badge.bg-secondary= policy_scope(Evaluation).inthework.count
  %li.breadcrumb-item
    = link_to_active 'Контроль оплаты ', evaluations_path(q: {paymentcontrol_eq: true}), class: "scope-link"
    %span.badge.bg-secondary= policy_scope(Evaluation).paymentcontrol.count
