= search_form_for @q, class: 'form form-search', html: { novalidate: true } do |f|
  #searchModal.modal.fade{:style => "display: none;"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %h5.modal-title
            Поиск по картотеке
        .modal-body
          .row
            .col
              .row
                .col
                  = f.input :nact_eq, label: false, placeholder: "№ акта"
                .col
                  = f.input :nocenka_eq, label: false, placeholder: "№ оценки"
              %p= f.collection_select :specialist_id_eq, User.order('name ASC').specialist.all, :id, :name, {include_blank: true, prompt: 'Специалист'}, {class: 'form-control'}
              %p= f.collection_select :appraiser_id_eq, User.order('name ASC').appraiser.all, :id, :name, {include_blank: true, prompt: 'Оценщик'}, {class: 'form-control'}
              %p= f.collection_select :customer_id_eq, User.order('name ASC').customer.all, :id, :name, {include_blank: true, prompt: 'Заказчик'}, {class: 'form-control'}
              %p= f.collection_select :otype_id_eq, Otype.all, :id, :name, {include_blank: true, prompt: 'Тип работы'}, {class: 'form-control'}
              %p= f.collection_select :polis_type_id_eq, PolisType.all, :id, :name, {include_blank: true, prompt: 'Тип полиса'}, {class: 'form-control'}
              %p= f.collection_select :city_id_eq, City.all, :id, :name, {include_blank: true, prompt: 'Отделение'}, {class: 'form-control'}
            .col
              %p= f.input :place_cont, label: false, placeholder: "Адрес"
              %p= f.input :owner_cont, label: false, placeholder: "Собственник"
              %p= f.input :object_cont, label: false, placeholder: "Объект"
              %p= f.input :ncase_cont, label: false, placeholder: "Убыток"
            .col
              %p= f.input :id_eq, label: false, placeholder: "№ карточки"
              .row
                .col
                  = f.input :date_gteq, label: false, placeholder: "Дата акта от", input_html: { id: 'datepicker', class: 'datepicker', data: { toggle: 'datetimepicker', target: '#datepicker' }  }
                .col
                  = f.input :date_lteq, label: false, placeholder: "Дата акта до", input_html: { id: 'datepicker', class: 'datepicker', data: { toggle: 'datetimepicker', target: '#datepicker' }  }
              .row
                .col
                  = f.input :created_at_gteq, label: false, placeholder: "Дата создания от", input_html: { id: 'datepicker', class: 'datepicker', data: { toggle: 'datetimepicker', target: '#datepicker' }  }
                .col
                  = f.input :created_at_lteq, label: false, placeholder: "Дата создания до", input_html: { id: 'datepicker', class: 'datepicker', data: { toggle: 'datetimepicker', target: '#datepicker' }  }
              .row
                .col
              
        .modal-footer
          %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Закрыть
          = f.button :submit, 'Искать', class: 'btn btn-primary' 