%evaluation{"data-cable-evaluation-id" => evaluation.id}
  .card-body
    %container
      - if @evaluation.id <= 3656
        %div.alert.alert-secondary
          Фотографии и приложения могут быть доступны в 
          = link_to('старой базе.', "https://old.rocenka.ru/ocenkas/#{@evaluation.id}", :class => 'alert-link')
      .row.row-cols-1.row-cols-md-3
        - if evaluation.nact
          .col.mb-4
            .card.h-100
              .card-body
                %h5.card-title 
                  Акт
                %h6.card-subtitle.mb-2.text-muted 
                  = time_tag(evaluation.date)
                  по адресу
                  = evaluation.place.titleize
                  - if evaluation.viezd?
                    с выездом 
                    - if evaluation.km?
                      на
                      %strong
                        = evaluation.km
                      км.
                %p.card-text 
                %h1
                  %small.text-muted № /
                  = evaluation.nact
                %h6.card-subtitle.mb-2.text-muted
                  - if evaluation.specialist
                    = evaluation.specialist.name
          
        - if evaluation.nocenka
          .col.mb-4
            .card.h-100
              .card-body
                %h5.card-title 
                  Оценка
                %h6.card-subtitle.mb-2.text-muted 
                  = time_tag(evaluation.datexp) if evaluation.datexp?
                %p.card-text 
                %h1
                  %small.text-muted № /
                  = evaluation.nocenka
                %h6.card-subtitle.mb-2.text-muted
                  - if evaluation.appraiser
                    = evaluation.appraiser.name
        .col.mb-4
          .card.h-100
            .card-body
              %h5.card-title 
                Объект
              %h6.card-subtitle.mb-2.text-muted
                
              %p.card-text 
              %h1
                = evaluation.place.titleize
                %small.text-muted 
              %h6.card-subtitle.mb-2.text-muted
                = evaluation.object
        .col.mb-4
          .card.h-100
            .card-body
              %h5.card-title 
                Собственник
              %h6.card-subtitle.mb-2.text-muted
                
              %p.card-text 
              %h1
                = evaluation.owner.titleize
                %small.text-muted 
              %h6.card-subtitle.mb-2.text-muted
        .col.mb-4
          .card.h-100
            .card-body
              %h5.card-title 
                Отделение
              %card-text
                %h1
                  = evaluation.city.name
        .col.mb-4          
          .card.h-100
            .card-body
              %h5.card-title 
                Полис и убыток
              %h6.card-subtitle.mb-2.text-muted
                = evaluation.ncase
                %br
                = evaluation.polis_number
              %p.card-text 
              %h1
                = evaluation.customer.name
                %small.text-muted 
              %h6.card-subtitle.mb-2.text-muted
                = evaluation.polis_type.name
        - if current_user.admin? || current_user.specialist? || current_user.appraiser?
          .col.mb-4
            .card.h-100
              .card-body
                %h5.card-title 
                  Ценовая информация
                %h6.card-subtitle.mb-2.text-muted 
                  
                  - if evaluation.nal?
                    .badge.bg-secondary Наличный расчет
                %p.card-text 
                  .row
                    - if evaluation.summ_act?
                      .col
                        %h6.mb-2.text-muted Осмотр
                        %h5
                          = evaluation.summ_act
                          %small.text-muted /р
                    - if evaluation.summ_exp?
                      .col
                        %h6.mb-2.text-muted Оценка
                        %h5
                          = evaluation.summ_exp
                          %small.text-muted /р
                    - if evaluation.summ_viezd?
                      .col
                        %h6.mb-2.text-muted Выезд
                        %h5
                          = evaluation.summ_viezd
                          %small.text-muted /р

    - if @evaluation.content.present?
      .row
        .col.mb-3
          %h5.py-3 Свободное содержание:
          = @evaluation.content       
    .form_evaluationions
      = link_to 'Сохранить', evaluations_path, :class => 'btn btn-primary '
      = link_to 'Редактировать', edit_evaluation_path(@evaluation), :class => 'btn btn-outline-secondary'
      = link_to "Клон", evaluation_clodup_path(@evaluation), :class => 'btn btn-outline-secondary'
      - if current_user.admin?
        = link_to 'Удалить', evaluation_path(@evaluation), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, :class => 'btn btn-outline-danger'
    .row
      .col
        
        - if @evaluation.additions.attached?
          %h1.py-3 
            Приложения
            %span.badge.bg-secondary= @evaluation.additions.count
            = link_to 'Удалить приложения', delete_additions_evaluation_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, :class => 'btn btn-link'
          - @evaluation.additions.each do |addition|
            - if addition.representable?
              %span.d-inline-block{"data-bs-content" => addition.filename, "data-bs-toggle" => "popover", "data-bs-trigger" => "hover focus", "data-bs-placement" => "top", "data-bs-custom-class" => "custom-popover", tabindex: "0"}
                = link_to(image_tag(addition.representation(resize_to_limit: [100, 100])), rails_blob_path(addition, disposition: "attachment"))
          - @evaluation.additions.each do |addition|
            - unless addition.representable?
              %p
                %ul.icon-list.ps-0
                  %li.d-flex.align-items-start.mb-1= link_to addition.filename, rails_blob_path(addition, disposition: 'attachment')
        
        - if @evaluation.images.attached?
          %h1.py-3
            Фотоматериалы
            %span.badge.bg-secondary= @evaluation.images.count
            = link_to "Скачать фотографии", evaluation_path(@evaluation, :format => 'zip'), :class => 'btn btn-link'
            = link_to 'Удалить фотографии', delete_images_evaluation_url, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, :class => 'btn btn-link'

          -# #images.gallery
          -#   - @evaluation.images.includes(:blob).references(:blob).order('active_storage_blobs.filename ASC').each do |image|
          -#     %div= image_tag(image.variant(resize_to_limit: [100, 100]), data: {original: url_for(image)} )
          -#           %div{"data-controller" => "lightbox"}
          -
          -# %div{"data-controller" => "lightbox"}
          -#   - @evaluation.images.includes(:blob).references(:blob).order('active_storage_blobs.filename ASC').each do |image|
          -#     = link_to url_for(image) do
          -#       =image_tag(image.representation(resize_to_limit: [100, 100]), class: "rounded mt-1")
          
          -if @current_user.gallery_type == '1'
            %div{"data-controller" => "lightbox"}
              - @evaluation.images.includes(:blob).references(:blob).order('active_storage_blobs.filename ASC').each do |image|
                = link_to url_for(image) do
                  =image_tag(image.representation(resize_to_limit: [100, 100]), class: "rounded mt-1")
          -else
            .w-100
              #images.imageViewer
                .imageViewer-sizer
                  - @evaluation.images.includes(:blob).references(:blob).order('active_storage_blobs.filename ASC').each do |image|
                    - if image.variable?
                      = image_tag(image.representation(resize_to_limit: [100, 100]), data: {original: url_for(image)}, class: "imageViewer-item" ) 
    -# .row
    -#   .col
    -#     %h1.py-3
    -#       Комментарии
    -#     #comments
    -#       = render partial: "comments/form", locals: { commentable: @evaluation }
    -#       - if params[:comment]
    -#         %p
    -#           Одна цепочка комментариев. #{link_to "Показать все комментарии", url_for()}
    -#       = render @comments, continue_thread: 5
    -#       %br
    -#       = paginate @comments
