.card.shadow.mb-5.bg-body-tertiary
  .card-header
    .btn-group{"aria-label" => "...", :role => "group"}
      %button.btn.btn-primary{"data-bs-target" => "#searchModal", "data-bs-toggle" => "modal", :type => "button"}
        %i.bi.bi-search
        Поиск
      - if current_user.role? :appraiser or current_user.role? :specialist or current_user.role? :viezdmaster
        %button.btn.btn-outline-secondary{"aria-controls" => "collapseBook", "aria-expanded" => "false", "data-bs-target" => "#collapseBook", "data-bs-toggle" => "collapse", :type => "button"}
          %i.bi.bi-book
          Книга регистрации
      %button.btn.btn-outline-secondary{"data-bs-target" => "#confirmModal", "data-bs-toggle" => "modal", :type => "button"}
        %i.bi.bi-table
        XLS
    .btn-group.float-end{"aria-label" => "...", :role => "group"}
      = link_to new_evaluation_path,
        :class => "btn btn-primary" do
        %i.bi.bi-plus-square
        Новая оценка
  .card-body
    #collapseBook.collapse
      .card.bg-light.mb-3
        .card-body
          = form_tag '/evaluations/operation', method: :get do
            .row
              .col-sm-1
                = text_field_tag :month, nil, {placeholder: 'месяц', class: 'form-control'}
              .col-sm-1
                = text_field_tag :year, nil, {placeholder: 'год', class: 'form-control'}
              .col-sm-1
                = submit_tag 'Сформировать', class: 'btn btn-outline-secondary',  data: {turbo: false}
    
    = render 'scope'
    = render 'search'
    = render 'confirm'
    %div{data: {controller: "infinite-scrolling"}}
      - if @evaluations.present?
        .table-responsive
          %table.table.table-hover
            %thead
              %tr
                %th= sort_link @q, :id, '№'
                %th= sort_link @q, :nocenka, 'Оценка'
                %th= sort_link @q, :nact, 'Акт'
                %th= sort_link @q, :specialist_id, 'Специалист'
                %th= sort_link @q, :appraiser_id, 'Оценщик'
                %th= sort_link @q, :date, 'Дата'
                %th= sort_link @q, :city, 'Отделение'
                %th= sort_link @q, :object, 'Объект'
                %th= sort_link @q, :customer_id, 'Заказчик'
            %tbody
              = render @evaluations
      -if @current_user.paging_type == '1'
        = paginate @evaluations, theme: 'per_page'
      -else
        = render 'kaminari/paging', objects: @evaluations
