.card
  .card-header
    .row.align-items-center
      .col
        %h1.display-4 Оценка # #{@evaluation.id}
        %p.text-muted
          Создано 
          = time_tag(@evaluation.created_at)
          Обновлено
          = distance_of_time_in_words_to_now @evaluation.updated_at 
          назад
  .card-body
    = render 'show_evaluation', evaluation: @evaluation
