= simple_form_for @workshop, wrapper_mappings: {boolean: :custom_boolean, check_boxes: :custom_collection }  do |f|

  - if @workshop.errors.any?
    #error_explanation
      %h2= "#{pluralize(@workshop.errors.count, "error")} prohibited this workshope from being saved:"
      %ul
        - @workshop.errors.full_messages.each do |message|
          %li= message
  .form-row
    .col
      = f.input :name, :label => 'Название'
      = f.input :address, :label => 'Адрес'
      = f.input :tel, :label => 'Телефон'
      = f.input :manager, :label => 'Контактное лицо'
      = f.input :email, :label => 'Email'
      
    .col
      = f.association :user, collection: User.where(active: '1').order('name ASC'), :hint => "User", :label => 'Пользователь'
      = f.association :cities

     
  .form_actions
    = f.submit nil, :class => 'btn btn-primary', :value => "Сохранить"
    = link_to t('.cancel', :default => t("Отмена")), workshops_path, :class => 'btn btn-outline-secondary'
