.card
  .card-header
    .row.align-items-center
      .col
        %h1.display-4 СТО
      .col
        .btn-group.float-right{"aria-label" => "...", :role => "group"}
          = link_to new_workshop_path,
            :class => "btn btn-primary" do
            %i.bi.bi-plus-square
            Добавить СТО
  .card-body
    = search_form_for @q do |f|
      %table.table
        %thead
          %tr
            %th= sort_link @q, :id, 'id'
            %th= sort_link @q, :name, 'Название'
            %th= sort_link @q, :user_id, 'Закрепленный пользователь'
            %th Территория


        %tbody
          - @workshops.each do |workshop|
            %tr{"data-controller" => "row-link", "data-row-link-href" => url_for(workshop)}
              %td{ "data-action" => "click->row-link#click"} 
                =workshop.id
              %td{ "data-action" => "click->row-link#click"}
                = workshop.name
              %td{ "data-action" => "click->row-link#click"}
                = workshop.user.try(:name)
              %td{ "data-action" => "click->row-link#click"}
                - workshop.cities.each do |cities|
                  %span.badge.badge-secondary
                    = cities.name
