%p#notice= notice
.card
  .card-header
    %h1.display-4
      СТО # #{@workshop.id}
  .card-body
    %p
      %b Название:
      = @workshop.name
    %p
      %b Адрес:
      = @workshop.address
    %p
      %b Телефон:
      = @workshop.tel
    %p
      %b Контактное лицо:
      = @workshop.manager
    %p
      %b Email:
      = @workshop.email
    %p
      %b Города покрытия:  
      - @workshop.cities.each do |cities|
        %span.badge.badge-secondary
          = cities.name
    %p
      %b Пользователь:
      = @workshop.user.try(:name)

    .form_actions
      = link_to 'Назад', workshops_path, :class => 'btn btn-primary '
      = link_to 'Редактировать', edit_workshop_path(@workshop), :class => 'btn btn-outline-primary'
      = link_to 'Удалить', workshop_path(@workshop), :method => 'delete', data: {confirm: "Are you sure?"}, :class => 'btn btn-outline-danger'
