.container.py-5
  .row
    .col-md-12
      .row
        .col-md-6.mx-auto
          .card.rounded-0  
            .card-body
              .p
                %h2.mb-0 
                  Редактировать данные пользователя
                = simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
                  = f.error_notification
                  .form-inputs
                    = f.input :email, required: true, autofocus: true
                    - if devise_mapping.confirmable? && resource.pending_reconfirmation?
                      %p
                        Ждем подтверждения для: #{resource.unconfirmed_email}
                    = f.input :password,
                      hint: "Оставте пустым если менять не нужно",
                      required: false,
                      input_html: { autocomplete: "new-password" }
                    = f.input :password_confirmation,
                      required: false,
                      input_html: { autocomplete: "new-password" }
                    = f.input :current_password,
                      hint: "Нам нужен старый пароль для внесения изменений",
                      required: true,
                      input_html: { autocomplete: "current-password" }
                  .form-actions
                    = f.button :submit, "Обновить"
                = form_with model: current_user, url: user_private_api_keys_path do |f|
                  = f.text_field :private_api_key, disabled: true
                  = f.submit "Generate New Key"
              .authform
                %h3 Удалить мой аккаунт
                %p
                  Будем удалять? #{link_to "Удалить мой аккаунт", registration_path(resource_name), data: { confirm: "Вы уверены?" }, method: :delete}
                = link_to "Назад", :back