= form_with(model: discussion, local: true) do |form|
  - if discussion.errors.any?
    #error_explanation
      %h2
        = pluralize(discussion.errors.count, "error")
        prohibited this discussion from being saved:
      %ul
        - discussion.errors.full_messages.each do |message|
          %li= message
  .form-group
    = form.label :title
    = form.text_field :title, class: 'form-control'
  .form-group
    - if discussion.persisted?
      .float-end
        = link_to 'Destroy', discussion, method: :delete, class: "text-danger", data: { confirm: 'Are you sure?' }
    = form.submit class: 'btn btn-primary'
    - if discussion.persisted?
      = link_to "Cancel", discussion, class: "btn btn-link"
    - else
      = link_to "Cancel", discussions_path, class: "btn btn-link"
