.card
  .card-header
    .row
      .col-sm-6
        %h1 Обсуждения
      .col-sm-6.text-right
        = link_to new_discussion_path, class: 'btn btn-primary' do
          Новое обсуждение
    .card-body
      .table-responsive
        %table.table.table-striped.table-bordered.table-hover
          %thead
            %tr
              %th Тема
              %th
          %tbody
            - @discussions.each do |discussion|
              = content_tag :tr, id: dom_id(discussion), class: dom_class(discussion) do
                %td= discussion.title
                %td= link_to 'Show', discussion
