.page-header
  = link_to discussions_path, class: 'btn btn-default' do
    %span.glyphicon.glyphicon-list-alt
    All Discussions
  = link_to edit_discussion_path(@discussion), class: 'btn btn-primary' do
    %span.glyphicon.glyphicon-pencil
    Edit
  %h1 Show discussion
%dl.dl-horizontal
  %dt Title:
  %dd= @discussion.title
%h3 Comments
#comments
  = render partial: "comments/form", locals: { commentable: @discussion }
  = render @discussion.comments.where(parent_id: nil), max_nesting: 2
