= form_with model: [commentable, Comment.new], html: { class: local_assigns[:class], data: { target: local_assigns[:target] } } do |form|
  .mb-3
    = form.text_area :body, placeholder: "Добавить комментарий", class: "form-control"
  .div
    = form.hidden_field :parent_id, value: local_assigns[:parent_id]
    = form.submit "Добавить комментарий", class: "btn btn-primary"
