- if @comment.parent_id?
  var comments = document.querySelector("##{dom_id(@comment.parent)}_comments")
- else
  var comments = document.querySelector("#comments")
comments.insertAdjacentHTML('beforeend', '#{j render partial: "comments/comment", locals: { comment: @comment }, format: :html}')

var form = comments.parentElement.querySelector("form")
form.reset()
- if @comment.parent_id?
  form.classList.add("d-none")
