= simple_form_for @otype, wrapper_mappings: {boolean: :custom_boolean, check_boxes: :custom_collection }  do |f|

  - if @otype.errors.any?
    #error_explanation
      %h2= "#{pluralize(@otype.errors.count, "error")} prohibited this otype from being saved:"
      %ul
        - @otype.errors.full_messages.each do |message|
          %li= message
  .form-row
    .col
      = f.input :name, :label => 'Название'
     
  .form_actions
    = f.submit nil, :class => 'btn btn-primary', :value => "Сохранить"
    = link_to t('.cancel', :default => t("Отмена")), otypes_path, :class => 'btn btn-outline-secondary'
