.card
  .card-header
    .row.align-items-center
      .col
        %h1.display-4 Типы дел
      .col
        .btn-group.float-end{"aria-label" => "...", :role => "group"}
          = link_to new_otype_path,
            :class => "btn btn-primary" do
            %i.fas.fa-plus
            Добавить тип работы
  .card-body
    = search_form_for @q do |f|
      %table.table
        %thead
          %tr
            %th= sort_link @q, :id, 'id'
            %th= sort_link @q, :name, 'Название'
            %th
            %th
        %tbody
          - @otypes.each do |otype|
            %tr{"data-controller" => "row-link", "data-row-link-href" => url_for(otype)}
              %td{ "data-action" => "click->row-link#click"} 
                =otype.id
              %td{ "data-action" => "click->row-link#click"}
                = otype.name
              %td= link_to 'Редактировать', edit_otype_path(otype)
              %td= link_to 'Удалить', otype, method: :delete, data: { confirm: 'Are you sure?' }
