%p#notice= notice
.card
  .card-header
    %h1.display-4
      Тип работы # #{@otype.id}
  .card-body
    %p
      %b Название:
      = @otype.name
    .form_actions
      = link_to 'Назад', otypes_path, :class => 'btn btn-primary '
      = link_to 'Редактировать', edit_otype_path(@otype), :class => 'btn btn-outline-primary'
