= simple_form_for @user do |f|

  - if @user.errors.any?
    #error_explanation
      %h2= "#{pluralize(@user.errors.count, "error")} prohibited this user from being saved:"
      %ul
        - @user.errors.full_messages.each do |message|
          %li= message
  .row
    .col
      %h4 Основное
      = f.input :name, :label => 'Имя', disabled: !current_user.admin?
      = f.input :email, :label => 'e-mail/логин', disabled: !current_user.admin?
      = f.input :active, :label => 'Активность', disabled: !current_user.admin?
      = f.association :roles, :as => :check_boxes, disabled: !current_user.admin?

    .col
      .card.mb-3
        .card-header
          %h4 Установки
        %ul.list-group.list-group-flush
          %li.list-group-item
            = f.input :notify_mailer, as: :radio_buttons, collection: [['0', 'Отключены'], ['1', 'Включены']], label_method: :second, value_method: :first,  :label => 'Уведомления'
          %li.list-group-item
            = f.input :paging_type, as: :radio_buttons, collection: [['0', 'Бесконечный'], ['1', 'Постраничный']], label_method: :second, value_method: :first, :label => 'Тип прокрутки'
          %li.list-group-item
            = f.input :paging_per, as: :radio_buttons, collection: [5, 10, 15, 20], :label => 'Количество строк'
          %li.list-group-item
            = f.input :gallery_type, as: :radio_buttons, collection: [['0', 'Viewerjs'], ['1', 'LightGallery']], label_method: :second, value_method: :first,  :label => 'Тип галереи'

      
      - if current_user.admin?
        .card.mb-3
          .card-header
            %h4 СТО
          %ul.list-group.list-group-flush
            %li.list-group-item
              %div{"data-controller" => "nested-form"}
                %template{"data-target" => "nested-form.template"}
                  = f.fields_for :workshops, Workshop.new, child_index: 'NEW_RECORD' do |workshop|
                    = render "workshop_fields", form: workshop
                = f.fields_for :workshops do |workshop|
                  = render "workshop_fields", form: workshop
                .mb-3{"data-target" => "nested-form.links"}
                  = link_to "Добавить СТО", "#", class: "btn btn-outline-primary", data: { action: "click->nested-form#add_association" }
     
  .form_actions
    = f.submit nil, :class => 'btn btn-primary', :value => "Сохранить"
    = link_to t('.cancel', :default => t("Отмена")), :back, :class => 'btn btn-outline-secondary'
