.modal.fade{:id => "role-options-#{user.id}", :style => "display: none;"}
  .modal-dialog.modal-lg
    .modal-content
      = simple_form_for user do |f|
        .modal-header
          %a.close{"data-dismiss" => "modal"} ×
          %h3 Change Role
        .modal-body
          =f.association :roles, :as => :check_boxes
          =f.input :active
        .modal-footer
          = f.submit "Change Role", :class => "btn btn-default"
          %a.btn.btn-default{"data-dismiss" => "modal", :href => "#"} Close
