= content_tag :div, class: "nested-fields", data: { new_record: form.object.new_record? } do
  .form-group
    = form.label :name, 'Название'
    = form.text_field :name, class: 'form-control'
    %small= link_to "Удалить", "#", data: { action: "click->nested-form#remove_association" }
  = form.hidden_field :_destroy