.card
  .card-header
    .row.align-items-center
      .col
        %h1.display-4 Пользователи
      .col
  .card-body
    = search_form_for @q do |f|
      %table.table.table-bordered
        %thead
          %tr
            %th= sort_link @q, :id, 'id'
            %th= sort_link @q, :name, 'Имя/название'
            %th= sort_link @q, :email, 'Логин/email'
            %th= sort_link @q, :active, 'Активность'
            %th= sort_link @q, :created_at, 'Дата регистрации'
            %th= sort_link @q, :last_sign_in_at, 'Логинился'
            %th= sort_link @q, :current_sign_in_ip, 'IP'
            %th Роли
            %th API
        %tbody
          - @users.each do |user|
            %tr{"data-controller" => "row-link", "data-row-link-href" => url_for(user)}
              %td{ "data-action" => "click->row-link#click"} 
                =user.id
              %td{ "data-action" => "click->row-link#click"}
                = user.name
              %td{ "data-action" => "click->row-link#click"}
                = user.email  
              %td{ "data-action" => "click->row-link#click"}
                - if user.active?
                  активный
                - else
                  нет
              %td{ "data-action" => "click->row-link#click"}
                = user.created_at.to_date.strftime("%d.%m.%Y") unless user.created_at.nil?
              %td{ "data-action" => "click->row-link#click"}
                = user.last_sign_in_at.to_date.strftime("%d.%m.%Y") unless user.last_sign_in_at.nil?
              %td{ "data-action" => "click->row-link#click"}
                = user.try(:current_sign_in_ip)
              %td{ "data-action" => "click->row-link#click"}
                - user.roles.each do |roles|
                  %span.badge.bg-secondary
                    = roles.name
              %td 
                = user.private_api_key
