.card
  .card-header
    %h1.display-4
      Пользователь # #{@user.id}
  .card-body
    %p
      %b Пользователь:
      = @user.name
    %p  
      %b Логин:
      = @user.email if @user.email
    %p
      %b Активный:
      = @user.active
    %p
      %b Роли:
      =@user.roles.map(&:name)
    %p
      %b Автосервис:
      =@user.workshops.map(&:name)
    %p
      %b paging_type:
      =@user.paging_type
    %p
      %b paging_per:
      =@user.paging_per
    %p
      %b API 
      =@user.private_api_key

    .form_actions
      = link_to 'Назад', users_path, :class => 'btn btn-primary '
      = link_to 'Редактировать', edit_user_path(@user), :class => 'btn btn-outline-primary'
      = link_to 'Удалить', user_path(@user),  data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, :class => 'btn btn-outline-danger' unless @user == current_user
