- if user_signed_in? 
  .container-fluid
    .row.py-2
      .col-md-4.py-1
        .card.border-light
          .card-body
            %h5.card-title База данных
            %h6.card-subtitle.mb-2.text-muted 
              = current_user.roles.map(&:name).join(', ')
            %p.card-text 
            %h1
              = current_user.name
              %small.text-muted
            %p      
            = link_to '+экспертиза', new_act_path, :class => "card-link"
            = link_to '+оценка', new_evaluation_path, :class => "card-link"
      .col-md-4.py-1
        .card.border-light
          .card-body
            %h5.card-title 
              = 'Количество'
              = 'дел'
            %h6.card-subtitle.mb-2.text-muted всего
            %p.card-text 
            %h1
              = policy_scope(Act).count
              %small.text-muted / шт
            %p
            = link_to '+экспертиза', new_act_path, :class => "card-link"
            = link_to '+оценка', new_evaluation_path, :class => "card-link"

      .col-md-4.py-1
        .card.border-light
          .card-body
            %h5.card-title Экспертиза
            %h6.card-subtitle.mb-2.text-muted в работе
            %p.card-text 
            %h1
              = policy_scope(Act).inthework.count
              %small.text-muted / шт
            %p
            = link_to '+экспертиза', new_act_path, :class => "card-link"
    
    .row.py-2
      .col-md-4.py-1
        .card.border-light
          .card-body
            %h5.card-title Оценка
            %h6.card-subtitle.mb-2.text-muted в работе
            %p.card-text 
            %h1
              = policy_scope(Evaluation).inthework.count
              %small.text-muted / шт
            %p
            = link_to '+оценка', new_evaluation_path, :class => "card-link"
    
    - if current_user.specialist?
      .row.my-2
        .col-md-6.py-1
          .card
            .card-body
              %h5.card-title Мои акты
              %h6.card-subtitle.mb-2.text-muted статистика количества
              %p.card-text 
              %p
                = column_chart specialist_acts_by_month_charts_url
        .col-md-6.py-1
          .card
            .card-body
              %h5.card-title Мои обороты по актам
              %h6.card-subtitle.mb-2.text-muted статистика книги
              %p.card-text 
              
              %p
                = line_chart specialist_book_by_month_charts_url
    
    - if current_user.expert?
      .row.my-2
        .col-md-6.py-1
          .card
            .card-body
              %h5.card-title Мои экспертизы
              %h6.card-subtitle.mb-2.text-muted статистика количества
              %p.card-text 
              %p
                = column_chart expert_exps_by_month_charts_url
        .col-md-6.py-1
          .card
            .card-body
              %h5.card-title Мои обороты по экспертизам
              %h6.card-subtitle.mb-2.text-muted статистика книги
              %p.card-text 
              
              %p
                = line_chart expert_book_by_month_charts_url
    
    - if current_user.admin?
      .row.my-2
        .col-md-6.py-1
          .card
            .card-body
              %h5.card-title Всего дел в месяц
              %h6.card-subtitle.mb-2.text-muted статистика количества
              %p.card-text 
              %p
                = line_chart all_acts_by_month_charts_url
        .col-md-6.py-1
          .card
            .card-body
              %h5.card-title Обороты по СОДФУ
              %h6.card-subtitle.mb-2.text-muted статистика книги
              %p.card-text 
              
              %p
                = column_chart all_bud_book_by_month_charts_url
      .row.my-2
        .col-md-6.py-1
          .card
            .card-body
              %h5.card-title Актов в день
              %h6.card-subtitle.mb-2.text-muted статистика количества
              %p.card-text 
              %p
                = column_chart all_acts_per_day_charts_url
        .col-md-6.py-1
          .card
            .card-body
              %h5.card-title Оценок в день
              %h6.card-subtitle.mb-2.text-muted статистика количества
              %p.card-text 
              %p
                = column_chart all_evaluations_per_day_charts_url
      .row.my-2
        .col-md-6.py-1
          .card
            .card-body
              %h5.card-title Оценка сумма за расчеты
              %h6.card-subtitle.mb-2.text-muted статистика количества
              %p.card-text 
              %p
                = column_chart all_evaluation_per_month_charts_url
        .col-md-6.py-1
          .card
            .card-body
              %h5.card-title Оценка сумма за акты
              %h6.card-subtitle.mb-2.text-muted статистика количества
              %p.card-text 
              %p
                = column_chart all_evaluation_act_per_month_charts_url
      
      .row.my-2
        .col-md-6.py-1
          .card
            .card-body
              %h5.card-title Экспертизы сумма за расчеты
              %h6.card-subtitle.mb-2.text-muted статистика количества
              %p.card-text 
              %p
                = column_chart all_act_per_month_charts_url
        .col-md-6.py-1
          .card
            .card-body
              %h5.card-title Экспертизы сумма за акты
              %h6.card-subtitle.mb-2.text-muted статистика количества
              %p.card-text 
              %p
                = column_chart all_act_act_per_month_charts_url
    
    - if current_user.customer?
      .row.my-2
        .col-md-6.py-1
          .card
            .card-body
              %h5.card-title Всего дел в месяц
              %h6.card-subtitle.mb-2.text-muted статистика количества
              %p.card-text 
              %p
                = line_chart all_customer_acts_by_month_charts_url
    
    = @summ_all_day
    = @summ_alle_day
