.content
  .page-header
    %h3 Пользователи
  .row
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title Эксперты
        .panel-body
          %table.table.table-condensed.table-hover
            %thead
              %tr
                %th Имя
                %th Роль
                %th Количество
                %th Сумма
            %tbody
              - @experts.each do |user|
                %tr
                  %td= link_to user.name, user
                  %td= user.role unless user.role.nil?
                  %td
                    = Act.where('created_at >= ? AND expert_id = ?', Date.today.at_beginning_of_month, user).count
                  %td
                    = Act.where('created_at >= ? AND expert_id = ?', Date.today.at_beginning_of_month, user).sum(:summ_exp)
    .col-md-6
      .panel.panel-default
        .panel-heading
          %h3.panel-title Специалисты
        .panel-body
          %table.table.table-condensed.table-hover
            %thead
              %tr
                %th Имя
                %th Роль
                %th Количество
                %th Сумма
            %tbody
              - @specialists.each do |user|
                %tr
                  %td= link_to user.name, user
                  %td= user.role unless user.role.nil?
                  %td
                    = Act.where('created_at >= ? AND specialist_id = ?', Date.today.at_beginning_of_month, user).count
                  %td
                    = Act.where('created_at >= ? AND specialist_id = ?', Date.today.at_beginning_of_month, user).sum(:summ_act)+Act.where('created_at >= ? AND specialist_id = ?', Date.today.at_beginning_of_month, user).sum(:summ_viezd)
