.card
  .card-header
    .row.align-items-center
      .col
        %h1.display-4 Listing repair_statuses
      .col
        .btn-group.float-right{"aria-label" => "...", :role => "group"}
          = link_to new_repair_status_path,
            :class => "btn btn-primary" do
            %i.fas.fa-plus
            New Repair status
  .card-body
    = search_form_for @q do |f|
      %table.table
        %thead
          %tr
            %th= sort_link @q, :id, 'id'
            %th= sort_link @q, :name, 'Название'
            %th
            %th
        %tbody
          - @repair_statuses.each do |repair_status|
            %tr{"data-controller" => "row-link", "data-row-link-href" => url_for(repair_status)}
              %td{ "data-action" => "click->row-link#click"} 
                =repair_status.id
              %td{ "data-action" => "click->row-link#click"}
                = repair_status.name
              %td= link_to 'Редактировать', edit_repair_status_path(repair_status)
              %td= link_to 'Удалить', repair_status, method: :delete, data: { confirm: 'Are you sure?' }
