%p#notice= notice
.card
  .card-header
    %h1.display-4
      Статус ремонта # #{@repair_status.id}
  .card-body
    %p
      %b Название:
      = @repair_status.name
    .form_actions
      = link_to 'Назад', repair_statuses_path, :class => 'btn btn-primary '
      = link_to 'Редактировать', edit_repair_status_path(@repair_status), :class => 'btn btn-outline-primary'
