.card
  .card-header
    .row.align-items-center
      .col-md-9
        %h1.display-4 
          Дело #
          = @act.id
          = @act.status.name
        %h6.text-mutted
          - if @act.done?
            %span.fas.fa-lock
          - if @act.crime?
            .badge.badge-dark подозрительное
          - if @act.prt > 50
            .badge.badge-dark высокий приоритет
        %p.text-muted
          Создано 
          = time_tag(@act.created_at)
          Обновлено
          = distance_of_time_in_words_to_now @act.updated_at 
          назад
      .col-md-3
        = render 'acts/show_nav', act: act
  .card-body
    .row
      .col
        - if @act.audits.any?
          %table.table.table-sm.table-borderless
            %thead.thead-inverse
              %tr
                %th
                %th Событие
                %th.text-right Пользователь
            %tbody
              - @act.audits.last(10).reverse.each do |version|
                %tr
                  %td
                    = time_tag(version.created_at)
                  %td
                    - case version.event
                      - when 'create'
                        %span.badge.badge-success
                          = version.event
                      - when 'update'
                        %span.badge.badge-info
                          = version.event
                        %pre= JSON.pretty_generate(version.changeset)
                  %td.text-right
                    - if version.user
                      = version.user.name
                    - else
                      %span.text-muted
                        = version.whodunnit || 'unknown' 
        - else
          %em No changes so far




