// Render new objects to a HTML string
renderedObjects = "<%=j render(objects) %>";

// Append to existing list
var el = document.querySelector('[data-controller="infinite-scrolling"] tbody');
el.innerHTML += renderedObjects;

// Update Paginator
var el = document.querySelector('[data-infinite-scrolling-target="paging"]');
el.innerHTML = "<%=j render('kaminari/paging', objects: objects) %>"