.container.py-5
  .row
    .col-md-12
      .row
        .col-md-6.mx-auto
          .card.rounded-0  
            .card-body
              .p
                %h1.display-4 Авторизация
              %br
              = simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| 
                .form-inputs
                  = f.input :email, required: true, autofocus: true, input_html: { autocomplete: "email" }
                  = f.input :password, required: true, input_html: { autocomplete: "current-password" }
                  = f.input :remember_me, label: 'Запомнить меня', as: :boolean if devise_mapping.rememberable?
                  = f.button :submit, "Войти", class: 'btn btn-lg btn-primary btn-block'
              = render "devise/shared/links"