= simple_form_for @price, wrapper_mappings: {boolean: :custom_boolean, check_boxes: :custom_collection }  do |f|

  - if @price.errors.any?
    #error_explanation
      %h2= "#{pluralize(@price.errors.count, "error")} prohibited this price from being saved:"
      %ul
        - @price.errors.full_messages.each do |message|
          %li= message
  .form-row
    .col
      = f.association :user, collection: User.customer.where(active: '1').order('name ASC'), :hint => "Заказчик или страховая компания", :label => 'Заказчик'
    .col
      = f.association :worktype, :as => :radio_buttons, :label => 'Тип дела'
    .col
      = f.input :cost, :label => 'Цена'
     
  .form_actions
    = f.submit nil, :class => 'btn btn-primary', :value => "Сохранить"
    = link_to t('.cancel', :default => t("Отмена")), prices_path, :class => 'btn btn-outline-secondary'
