.card
  .card-header
    .row.align-items-center
      .col
        %h1.display-4 Таблица цен
      .col
        .btn-group.float-end{"aria-label" => "...", :role => "group"}
          = link_to new_price_path,
            :class => "btn btn-primary" do
            %i.fas.fa-plus
            Добавить цену
  .card-body
    = search_form_for @q do |f|
      %table.table
        %thead
          %tr
            %th= sort_link @q, :id, 'id'
            %th= sort_link @q, :user_id, 'Заказчик'
            %th= sort_link @q, :worktype_id, 'Тип работы'
            %th Цена
            %th
            %th
            %th
        %tbody
          - @prices.each do |price|
            %tr{"data-controller" => "row-link", "data-row-link-href" => url_for(price)}
              %td{ "data-action" => "click->row-link#click"} 
                =price.id
              %td{ "data-action" => "click->row-link#click"}
                = price.user.name
              %td{ "data-action" => "click->row-link#click"}
                = price.worktype.name
              %td{ "data-action" => "click->row-link#click"}
                = price.cost
              %td= link_to 'Редактировать', edit_price_path(price)
              %td= link_to 'Удалить', price, method: :delete, data: { confirm: 'Are you sure?' }
