%p#notice= notice
.card
  .card-header
    %h1.display-4
      Цена # #{@price.id}
  .card-body
    %p
      %b Заказчик:
      = @price.user.name
    %p
      %b Тип работы:
      = @price.worktype.name
    %p
      %b Цена:
      = @price.cost
    .form_actions
      = link_to 'Назад', prices_path, :class => 'btn btn-primary '
      = link_to 'Редактировать', edit_price_path(@price), :class => 'btn btn-outline-primary'
