!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %h1
      Здравствуйте.
    %p
      В базу компании Росоценка было добавлено новое дело:
    %p  
      Ссылка для просмотра: http://dev.rocenka.ru/acts/#{@act.id}
    %p 
      Спасибо и хорошего дня!