Здравствуйте.
===============================================

В базу компании Росоценка было добавлено новое дело:

Ссылка для просмотра: https://rdb.rocenka.ru/acts/<%= @act.id %>

Спасибо и хорошего дня!

