html,
body {
  background-color: #f5f5f5;
}
.row {
  padding-top: ($spacer * .5) !important;
  padding-bottom: ($spacer * .5) !important;
}

.container-fluid {
  width: 98%;
}

.scope-link {text-decoration: none} 

.page-header {
  padding: 20px 20px 10px;
  margin: -20px -20px 20px;
  height: 40px;
  background-color: #f5f5f5;
  height: 100px;
}

.dropzone {
  border: 2px dashed #dedede;
  border-radius: 5px;
  background: #fff;
}

.dropzone i {
  font-size: 5rem;
}

.dropzone .dz-message {
  color: rgba(0, 0, 0, 0.54);
  font-weight: 500;
  font-size: initial;
  text-transform: uppercase;
}

.icon-list li::before {
  display: block;
  flex-shrink: 0;
  width: 1.5em;
  height: 1.5em;
  margin-right: .5rem;
  content: "";
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23212529' viewBox='0 0 16 16'%3E%3Cpath d='M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z'/%3E%3C/svg%3E") no-repeat center center / 100% auto;
}

footer {
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  font-size: 75%;
  color: $gray-700;

  dl.row {
    margin-bottom: 0;
  }
}

// .imageViewer-item { width: 100px; }
// .imageViewer-sizer{ width: 100px; }

.imageViewer {
  background: #fff;
}

/* clear fix */
.imageViewer:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.imageViewer-sizer,
.imageViewer-item {
  float: left;
  width: 100px;
  //height: 100px;
  border: 1px solid hsla(0, 0%, 100%, 0.5);
}

.imageViewer-item img {
  display: block;
  max-width: 100%;
}

.custom-popover {
  --bs-popover-max-width: 200px;
  --bs-popover-bg: var(--bs-primary);
  --bs-popover-body-color: var(--bs-white);
  --bs-popover-body-padding-x: 1rem;
  --bs-popover-body-padding-y: .5rem;
}
