- flash.each do |name, msg|
  - if msg.is_a?(String)
    %div{:class => "alert alert-dismissible fade show alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"}
      = content_tag :div, msg, :id => "flash_#{name}"
      %button.btn-close{"aria-label" => "Close", "data-bs-dismiss" => "alert", :type => "button"}
