%ul.nav.nav-underline.col-12.col-lg-auto.me-lg-auto.mb-2.mb-md-0
  %li.nav-item= link_to_active "Экспертиза", acts_path, class: 'nav-link'
  %li.nav-item= link_to_active "Оценка", evaluations_path, class: 'nav-link'
  - if user_signed_in?
    - if current_user.try(:admin?)
      %li= #link_to_active "Рейтинги", ratings_path, class: 'nav-link'
      %li.nav-item= link_to_active 'СТО', workshops_path, class: 'nav-link'