%ul.navbar-nav
  %li.navbar-text
    - if user_signed_in?
      - if current_user.try(:expert?)
        %span.badge.bg-light.text-dark Эксперт
      - if current_user.try(:admin?)
        %span.badge.bg-light.text-dark Администратор
      - if current_user.try(:customer?)
        %span.badge.bg-light.text-dark Заказчик
      - if current_user.try(:appraiser?)
        %span.badge.bg-light.text-dark Оценщик
      - if current_user.try(:specialist?)
        %span.badge.bg-light.text-dark Специалист
      - if current_user.try(:viwer?)
        %span.badge.badge-light Только просмотр
      - if current_user.try(:workshop?)
        %span.badge.badge-light СТО
      - if current_user.try(:repairmaster?)
        %span.badge.badge-light АдминСТО
      %li.nav-item.dropdown
        = link_to "#", id: "navbar-dropdown", class: "nav-link dropdown-toggle", data: { target: "nav-account-dropdown", bs_toggle: "dropdown" }, aria: { expanded: false } do
          = current_user.name
          %span.badge.bg-secondary
            = current_user.id  
        %ul.dropdown-menu{"aria-labelledby" => "navbarDropdown"}
          = link_to('Аккаунт', edit_user_registration_path, class: 'dropdown-item')
          = link_to('Настройки', edit_user_path(current_user), class: 'dropdown-item')
          - if current_user.role? :admin
            = link_to('Пользователи', users_path, class: 'dropdown-item')
            = link_to('Типы актов', worktypes_path, class: 'dropdown-item')
            = link_to('Цены актов', prices_path, class: 'dropdown-item')
            = link_to('Типы оценки', otypes_path, class: 'dropdown-item')
            = link_to('СТО', workshops_path, class: 'dropdown-item')
            = link_to('Статусы ремонта', repair_statuses_path, class: 'dropdown-item')
          .dropdown-divider
          = button_to "Выход", destroy_user_session_path, :method => 'delete', class: 'dropdown-item'
    - else
      %li.nav-item= link_to "Вход", new_user_session_path, class: "nav-link"