%nav.navbar.navbar-expand-md.navbar-light
  .container-fluid
    = link_to "RDB", root_path, class: 'navbar-brand'
    %button.navbar-toggler{"aria-controls" => "navbar-header", "aria-expanded" => "false", "aria-label" => "Toggle navigation", "data-bs-target" => "#navbar-header", "data-bs-toggle" => "collapse", :type => "button"}
      %span.navbar-toggler-icon
    #navbar-header.collapse.navbar-collapse
      = render 'layouts/navigation_links_left'
      = render 'layouts/navigation_links_right'
