- flash.each do |name, msg|
  - if msg.is_a?(String)
    #toast.toast{"aria-atomic" => "true", "aria-live" => "assertive", :role => "alert"}
      .toast-header
        %img.rounded.mr-2{:alt => "...", :src => "..."}/
        %strong.mr-auto Bootstrap
        %small 11 mins ago
        %button.ml-2.mb-1.close{"aria-label" => "Close", "data-dismiss" => "toast", :type => "button", "data-delay" => "30000"}
          %span{"aria-hidden" => "true"} ×
      .toast-body
        = content_tag :div, msg, :id => "flash_#{name}"

    %div{:class => "alert alert-#{name.to_s == 'notice' ? 'success' : 'danger'}"}
      %button.close{"aria-hidden" => "true", "data-dismiss" => "alert", :type => "button"} ×
      = content_tag :div, msg, :id => "flash_#{name}"