!!!
%html{"data-bs-theme" => "white", lang: "ru"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %meta{:content => "noindex,nofollow", :name => "robots"}
    %title= content_for?(:title) ? yield(:title) : "RDB"
    %meta{:content => "#{content_for?(:description) ? yield(:description) : "RDB"}", :name => "description"}
    = csrf_meta_tags
    = csp_meta_tag
    = action_cable_meta_tag
    = favicon_link_tag ('favicon.ico')
    = stylesheet_link_tag 'application', 'data-turbo-track': 'reload'
    = javascript_include_tag "application", "data-turbo-track": "reload"
    = csrf_meta_tags
  = content_tag :body, data: { action: action_name, controller: controller_name, path: request.path, controller: "toggle" } do
    %header
      = render 'layouts/navigation'
    %main
      .container-fluid.bs-border-color
        .row
          .col
            = render 'flash'
            = yield
    %footer
      = render 'layouts/footer'