- cache act do
  %tr{"data-controller" => "row-link", "data-row-link-href" => url_for(act), class: [('table-warning' if act.status_id == 1), ('table-danger' if act.stale?), ('table-info' if act.inthework?), ('table-success' if act.done?)]}
    %td.col-md-2{ "data-action" => "click->row-link#click"}
      %h6.my-0
        = link_to act.id, act_path(act)
      .small.text-muted
        - if act.status_id == 1 || act.status_id == 2
          - if  (Date.today - act.date) > 2
            %span.badge.bg-danger
              - x = Date.today
              - y = act.date
              = days = (x - y).to_i
          - else
            %span.badge.bg-secondary
              - x = Date.today
              - y = act.date
              = days = (x - y).to_i
        - if act.worktype_id == 2
          АКТ
        - if act.worktype_id == 1
          ЭКСПЕРТИЗА
        - if act.worktype_id == 3
          ТРАСОЛОГИЯ
        - if act.worktype_id == 4
          УТС
        - if act.worktype_id == 5
          ПРЕДСТРАХОВОЙ
        - if act.worktype_id == 6
          ПЕРЕРАСЧЕТ
        - if act.worktype_id == 7
          РЫНОЧНАЯ СТОИМОСТЬ
        - if act.worktype_id == 8
          СУД
        - if act.worktype_id == 9
          ИЗНОС
        - if act.worktype_id == 10
          ЭКСПРЕСС
        - if act.worktype_id == 11
          SRS
        - if act.worktype_id == 12
          МЕСТО ДТП
        - if act.worktype_id == 13
          СПРАВКА О РС
        %br
        - if act.collect?
          .text-danger ПРИЕМ
        - if act.dop?
          .text-danger ДОП
        - if act.notpresent?
          .text-danger ТС НЕ ПОКАЗАЛИ
        - if act.pvu?
          ПВУ
        - if act.polis_type_id == 1
          ОСАГО
        - if act.polis_type_id == 2
          КАСКО
        - if act.done == true
          %i.bi.bi-lock-fill
        - if act.repair
          %i.bi.bi-wrench
        - if act.crime == true
          %i.bi.bi-person-circle
        - if (act.prt != nil) and act.prt > 50
          %i.text-danger.bi.bi-bell-fill
        - if act.images.attached?
          %i.text-primary.bi.bi-file-image
        - if act.additions.attached?
          %i.text-primary.bi.bi-file-earmark-text-fill
    - if act.nexp.nil?
      %td.col-md-1.table-secondary.align-middle{"data-action" => "click->row-link#click"}
        %i.small.text-muted.bi.bi-dash-circle
    - else
      %td.col-md-1{"data-action" => "click->row-link#click"}
        %h6.my-0
          = act.nexp
          .small.text-muted
            = act.datexp.strftime("%d.%m.%Y") if act.datexp?
    %td.col-md-1{"data-action" => "click->row-link#click"}
      %h6.my-0
        = act.nact
      .small.text-muted
        = act.date.strftime("%d.%m.%Y") if act.nact?
    %td.col-md-1{"data-action" => "click->row-link#click"}
      %h6.my-0
        = act.specialist.try(:name)
      .small.text-muted
        = act.specialist.try(:email)
    %td.col-md-1{"data-action" => "click->row-link#click"}
      %h6.my-0
        = act.expert.name if act.expert_id?
      .small.text-muted
        = act.expert.email if act.expert_id?
    %td.col-md-1{"data-action" => "click->row-link#click"}
      %h6.my-0
        = act.date.strftime("%d.%m.%Y")
      .small.text-muted
        - if act.datexp?
          расчет
          = act.datexp.strftime("%d.%m.%Y") 
    %td.col-md-1{"data-action" => "click->row-link#click"}
      %h6.my-0
        = act.city.name if act.city_id?
      .small.text-muted
        - if act.viezd?
          выезд
        - if act.km?
          на 
          = act.km
          км.

    %td.col-md-2{"data-action" => "click->row-link#click"}
      %h6.my-0
        = act.ts_mark
        = act.ts_model
      .small.text-muted
        = act.ts_number
        %br
        = act.owner
    %td.col-md-2{"data-action" => "click->row-link#click"}
      = act.customer.try(:name)
