#confirmModal.modal.modal-alert.fade{role: "dialog", tabindex: "-1", :style => "display: none;"}
  .modal-dialog{role: "document"}
    .modal-content.rounded-3.shadow
      .modal-body.p-4.text-center
        %h5.mb-0 Выгрузка списка дел в Excel
        %p.mb-0 Если вы не отобрали нужные дела через поиск, выгрузка может занять продолжительное время.
      .modal-footer.flex-nowrap.p-0
        %button.btn.btn-lg.btn-link.fs-6.text-decoration-none.col-6.m-0.rounded-0.border-end{type: "button"}    
          = link_to download_xls_acts_path(safe_params.merge(format: 'xlsx')), data: { turbo: false } do
            %strong Да, выгружаем
        %button.btn.btn-lg.btn-link.fs-6.text-decoration-none.col-6.m-0.rounded-0{"data-bs-dismiss" => "modal", type: "button"} Нет