= simple_form_for @act, html: { :multipart => true } do |f|
  = f.error_notification
  .row.row-cols-2
    .col
      %h3 Основные данные
      = f.association :worktype, :as => :radio_buttons, :label => 'Тип дела', wrapper: :vertical_collection_inline 
      .row
        .col-5
          .mb-3
            = f.input :collect, :label => 'Прием документов'
            = f.input :repair, :label => 'Ремонт?'
      - if current_user.admin? || current_user.repairmaster?
        .card.text-dark.bg-light.mb-3
          .card-header
            Статусы ремонта
          .card-body
            .row
              .col-4
                = f.association :repair_statuses, :as => :check_boxes, :label => 'Статус'
                = f.association :repair_payment_statuses, :as => :check_boxes, :label => 'Статусы оплаты'
              .col
                = f.association :workshop,
                  :collection => Workshop.all,
                  :label => 'СТО'  
                .row
                  .col
                    = f.input :loss_wear, :label => 'С износом'
                  .col
                    = f.input :loss_full, :label => 'Без износа'
                  .col
                    = f.input :loss_bill, :label => 'В СТО'
      .row
        .col-5
          = f.input :nact, :label => 'Номер акта', input_html: {:title => "Последний акт был:", "data-bs-content" => Act.last_act, "data-bs-toggle" => "popover", "data-bs-placement" => "top"}
        .col
          = f.input :specialist_id, collection: User.specialist.where(active: '1').order('name ASC'), :label => 'Кто делал акт осмотра' #, selected: @current_user.id
      .row
        .col-5
          = f.input :date, :label => 'Дата акта', as: :date, html5: true
      = f.input :dop, :label => 'Дополнительный осмотр'
      = f.input :customer_id, collection: User.customer.where(active: '1').order('name ASC'), :hint => "Заказчик или страховая компания", :label => 'Заказчик'
      = f.association :polis_type, :as => :radio_buttons, :label => 'Тип полиса страхования'
      = f.input :polis_number, :label => '№ полиса страхования'
      = f.input :pvu, :label => 'ПВУ?'
      = f.input :ncase, :label => '№ убытка'
      %h3 Место осмотра
      .row
        .col-7
          = f.input :place, :class => "text_field", :label => 'Адрес осмотра'
        .col
          = f.association :city,
            :collection => City.all,
            :label => 'Отделение'
      .row
        .col-7
          = f.input :start_date, :label => 'Дата осмотра', as: :date, html5: true
        .col
          = f.input  :start_time, :label => 'Время осмотра', as: :time, html5: true
      .row
        = f.input :viezd, :label => 'Выезд?'
      .row
        .col-7
          = f.input :km, :label => 'Расстояние'
    .col
      %h3 Экспертиза и приложения
      .row
        .col
          = f.input :datexp,  :label => 'Дата экспертизы', as: :date, html5: true
        .col  
          = f.input :nexp, :label => '№ экспертизы',  input_html: {:title => "Последняя экспертиза была:", "data-bs-content" => Act.last_exp, "data-bs-toggle" => "popover", "data-bs-placement" => "top"}
        .col
          - if current_user.admin? || current_user.expert?
            = f.input :expert_id, collection: User.expert.where(active: '1').order('name ASC'), :label => 'Эксперт'
          - else
            = f.input :expert_id, disabled: true, :label => 'Эксперт', hint: 'Вы не можете распределять'
      .row
        .col
          .dropzone.dropzone-default.dz-clickable{"data-controller" => "dropzone", "data-dropzone-max-file-size" => "300", "data-dropzone-max-files" => "30"}
            = f.file_field :additions, multiple: true, direct_upload: true, data: { target: 'dropzone.input' }
            .dropzone-msg.dz-message.needsclick.text-gray-600
              .i.bi.bi-cloud-arrow-up-fill.text-gray-600.h1
              %h3.fs-5.mb-1.dropzone-msg-title Загрузить приложения
              %span.dropzone-msg-desc.text-sm Документы, заявления
        .col
          .dropzone.dropzone-default.dz-clickable{"data-controller" => "dropzone", "data-dropzone-max-file-size" => "300", "data-dropzone-max-files" => "30"}
            = f.file_field :calculations, multiple: true, direct_upload: true, data: { target: 'dropzone.input' }
            .dropzone-msg.dz-message.needsclick.text-gray-600
              .i.bi.bi-cloud-arrow-up-fill.text-gray-600.h1
              %h3.fs-5.mb-1.dropzone-msg-title Загрузить калькуляцию
              %span.dropzone-msg-desc.text-sm Экспертиза, расчет
      %h3 Статус дела
      .row
        = f.association :status, :as => :radio_buttons, :label => 'Статус'
        - if current_user.admin?
          .row
          = f.input :done, :class => "check_boxes", :label => 'Закрыто?'
          .row
            .col-3
              =f.input :created_at, :label => 'Создано', as: :datetime, html5: true
      .row  
        = f.input :notpresent, :label => 'Отсутствие на осмотре'
      .row
        = f.input :crime, :label => 'Признаки мошенничества'
      .row  
        = f.input :prt, as: :range, :label => 'Приоритет'
      %h3 Транспортное средство
      .row
        .col
          = f.input :owner, :label => 'Собственник ТС'
        .col
          = f.input :owner_phone, as: :tel, :label => 'Телефон'
      .row
        .col    
          = f.input :ts_mark, :label => 'Марка ТС'
        .col
          = f.input :ts_model, :label => 'Модель ТС'
        .col
          = f.input :ts_number, :label => 'Гос.номер ТС'
      = f.input :vin, :label => 'VIN номер ТС'
      

      %h3 Книга регистрации
      .row
        .col 
          = f.input :summ_act, :label => 'Осмотр', id: 'summ_act'
        .col
          = f.input :summ_viezd, :label => 'Выезд'
        .col
          = f.input :summ_exp, :label => 'Экспертиза'
      .custom-control.custom-switch.mr-2
        = f.check_box :nal, class: "custom-control-input", id: "customSwitch1"
        %label.custom-control-label{:for => "customSwitch1"} Наличный расчет?
  .row.row-cols-auto
    .col-md-9
      %h3 Свободное содержание
      .form-group
        = f.rich_text_area :content
  .row.row-cols-auto
    .col-md-12
      %h3 Фотографии
      .dropzone.dropzone-default.dz-clickable{"data-controller" => "dropzone", "data-dropzone-max-file-size" => "20", "data-dropzone-max-files" => "200", "data-dropzone-accepted-files" => "image/*", "data-dropzone-resize-width" => "2000" }
        = f.file_field :images, multiple: true, direct_upload: true, data: { target: 'dropzone.input' }
        .dropzone-msg.dz-message.needsclick.text-gray-600
          .i.bi.bi-camera-fill.text-gray-600.h1
          %h3.dropzone-msg-title Загрузить фотоматериалы
          %span.dropzone-msg-desc.text-sm Графические изображения
  .form_actions
    = f.submit nil, :class => 'btn btn-primary', :value => "Сохранить"
    = link_to t('.cancel', :default => t("Отмена")), acts_path, :class => 'btn btn-outline-secondary'
