%ol.nav.justify-content-end
  %li.breadcrumb-item
    = link_to 'Все дела ', acts_path, class: "scope-link"
    %span.badge.bg-secondary= policy_scope(Act).all.size
  %li.breadcrumb-item
    = link_to_active 'Не распределенные ', acts_path( q: {status_id_eq: '1'}), class: "scope-link"
    %span.badge.bg-secondary= policy_scope(Act).unregistered.size
  %li.breadcrumb-item
    = link_to_active 'В работе ', acts_path(q: {status_id_eq: '2'}), class: "scope-link"
    %span.badge.bg-secondary= policy_scope(Act).inthework.size

  - if Act.inthework.priority.exists?
    %li.breadcrumb-item
      = link_to_active 'Приоритетные', acts_path( :'q[prt_gt]' => '50', :'q[status_id_eq]' => '2', :sorts => "prt"), class: "scope-link"
      %span.badge.bg-danger.badge-pill= policy_scope(Act).inthework.priority.size
- if current_user.admin? || current_user.repairmaster? || current_user.workshop?
  %ol.nav.justify-content-end
    - @repair_statuses.each do |rep|
      %li.breadcrumb-item
        = link_to acts_path(q: {repair_statuses_id_in: [rep].flatten}), class: "scope-link" do 
          = rep.name
        %span.badge.bg-secondary
          =policy_scope(Act).joins(:repair_statuses).where(repair_statuses: [rep]).size    
    %li.breadcrumb-item
      = link_to_active 'Входящие ', acts_path(q: {repair_eq: true, repair_statuses_id_blank: true}), class: "scope-link" 
      %span.badge.bg-primary
        =policy_scope(Act).where('repair = true ').size - policy_scope(Act).joins(:repair_statuses).where('repair = true ').size
- if current_user.admin? || current_user.repairmaster?
  %ol.nav.justify-content-end
    - @repair_payment_statuses.each do |reppay|
      %li.breadcrumb-item
        = link_to  acts_path(q: {repair_payment_statuses_id_in: [reppay].flatten}), class: "scope-link" do 
          = reppay.name
        %span.badge.bg-secondary
          =policy_scope(Act).joins(:repair_payment_statuses).where(repair_payment_statuses: [reppay]).size