= search_form_for @q, class: 'form form-search', html: { novalidate: true } do |f|
  #searchModal.modal.fade{:style => "display: none;"}
    .modal-dialog.modal-lg
      .modal-content
        .modal-header
          %h5.modal-title
            Поиск по картотеке
        .modal-body
          .row
            .col
              .row
                .col
                  = f.input :nact_eq, label: false, placeholder: "№ акта"
                .col
                  = f.input :nexp_eq, label: false, placeholder: "№ экспертизы"
              %p= f.collection_select :specialist_id_eq, User.specialist.order('name ASC').all, :id, :name, {include_blank: true, prompt: 'Специалист'}, {class: 'form-control'}
              %p= f.collection_select :expert_id_eq, User.expert.order('name ASC').all, :id, :name, {include_blank: true, prompt: 'Эксперт'}, {class: 'form-control'}
              %p= f.collection_select :customer_id_eq, User.customer.order('name ASC').all, :id, :name, {include_blank: true, prompt: 'Заказчик'}, {class: 'form-control'}
              %p= f.collection_select :worktype_id_eq, Worktype.all, :id, :name, {include_blank: true, prompt: 'Тип работы'}, {class: 'form-control'}
              %p= f.collection_select :polis_type_id_eq, PolisType.all, :id, :name, {include_blank: true, prompt: 'Тип полиса'}, {class: 'form-control'}
              %p= f.collection_select :city_id_eq, City.all, :id, :name, {include_blank: true, prompt: 'Отделение'}, {class: 'form-control'}
            .col
              = f.input :place_cont, label: false, placeholder: "Адрес"
              %p= f.input :owner_cont, label: false, placeholder: "Собственник"
              %p= f.input :ts_number_cont, label: false, placeholder: "Номер ТС"
              %p= f.input :vin_cont, label: false, placeholder: "VIN"
              %p= f.input :ts_model_or_ts_mark_cont, label: false, placeholder: "Марка или модель"
              %p= f.input :ncase_cont, label: false, placeholder: "Убыток"
              %p= f.select :viezd_eq, [['Да', true], ['Нет', false]], {include_blank: true, prompt: 'Выезд'}, {class: 'form-control'}
            .col
              = f.input :id_eq, label: false, placeholder: "№ карточки"
              .row
                .col
                  = f.input :date_gteq, label: false, placeholder: "Дата акта от", input_html: { id: 'datepicker', class: 'datepicker', data: { toggle: 'datetimepicker', target: '#datepicker' }  }
                .col
                  = f.input :date_lteq, label: false, placeholder: "Дата акта до", input_html: { id: 'datepicker', class: 'datepicker', data: { toggle: 'datetimepicker', target: '#datepicker' }  }
              .row
                .col
                  = f.input :created_at_gteq, label: false, placeholder: "Дата создания от", input_html: { id: 'datepicker', class: 'datepicker', data: { toggle: 'datetimepicker', target: '#datepicker' }  }
                .col
                  = f.input :created_at_lteq, label: false, placeholder: "Дата создания до", input_html: { id: 'datepicker', class: 'datepicker', data: { toggle: 'datetimepicker', target: '#datepicker' }  }
              .row
                .col
                  = f.input :updated_at_gteq, label: false, placeholder: "Дата обновления от", input_html: { id: 'datepicker', class: 'datepicker', data: { toggle: 'datetimepicker', target: '#datepicker' }  }
                .col
                  = f.input :updated_at_lteq, label: false, placeholder: "Дата обновления до", input_html: { id: 'datepicker', class: 'datepicker', data: { toggle: 'datetimepicker', target: '#datepicker' }  }
              .row
                .col
                  %p= f.select :crime_eq, [['Да', true], ['Нет', false]], {include_blank: true, prompt: 'Криминал'}, {class: 'form-control'}
                  %p= f.collection_select :workshop_id_eq, Workshop.all, :id, :name, {include_blank: true, prompt: 'СТО'}, {class: 'form-control'}
                  %p= f.select :repair_eq, [['Да', true], ['Нет', false]], {include_blank: true, prompt: 'Ремонт'}, {class: 'form-control'}
                  %p= f.collection_select :repair_statuses_id_eq, RepairStatus.all, :id, :name, {include_blank: true, prompt: 'Статус ремонта'}, {class: 'form-control'}
        .modal-footer
          %button.btn.btn-secondary{"data-bs-dismiss" => "modal", :type => "button"} Закрыть
          = f.button :submit, 'Искать', class: 'btn btn-primary' 