%act{"data-cable-act-id" => act.id}
  .card-body
    %container
      - if @act.id <= 124447
        %div.alert.alert-secondary
          Фотографии и приложения могут быть доступны в 
          = link_to('старой базе.', "https://old.rocenka.ru/acts/#{@act.id}", :class => 'alert-link')
      .row.row-cols-1.row-cols-md-3
        .col.mb-4
          .card.h-100
            .card-body
              %h5.card-title 
                Акт
              %h6.card-subtitle.mb-2.text-muted 
                - if act.notpresent?
                  .badge.bg-danger ТС не показали
                - if act.dop?
                  .badge.bg-danger Дополнительный осмотр
                = time_tag(act.date)
                по адресу
                = act.place.try(:titleize)
                - if act.viezd?
                  с выездом 
                  - if act.km?
                    на
                    %strong
                      = act.km
                    км.
              %p.card-text 
              %h1
                %small.text-muted № /
                = act.nact if act.nact?
              %h6.card-subtitle.mb-2.text-muted
                - if act.specialist
                  = act.specialist.name
        .col.mb-4  
          .card.h-100
            .card-body
              %h5.card-title 
                Экспертиза
              %h6.card-subtitle.mb-2.text-muted 
                = time_tag(act.datexp) if act.datexp?
              %p.card-text 
              %h1
                %small.text-muted № /
                = act.nexp
              %h6.card-subtitle.mb-2.text-muted
                - if act.expert
                  = act.expert.name

        .col.mb-4
          .card.h-100
            .card-body
              %h5.card-title 
                Объект
              %h6.card-subtitle.mb-2.text-muted
                = act.ts_number
              %p.card-text 
              %h1
                = act.ts_mark + ' ' + act.ts_model
                %small.text-muted 
              %h6.card-subtitle.mb-2.text-muted
                = act.vin
        .col.mb-4  
          .card.h-100
            .card-body
              %h5.card-title 
                Собственник
              %h6.card-subtitle.mb-2.text-muted
                = act.owner_phone
              %p.card-text 
              %h1
                = act.owner.try(:titleize)
                %small.text-muted 
              %h6.card-subtitle.mb-2.text-muted
        .col.mb-4  
          .card.h-100
            .card-body
              %h5.card-title 
                Отделение
              %card-text
                %h1
                  = act.city.name
        - if act.workshop
          .col.mb-4  
            .card.h-100
              .card-body
                %h5.card-title 
                  СТО
                %card-text
                  %h1
                    = act.workshop.name
        .col.mb-4      
          .card.h-100
            .card-body
              %h5.card-title 
                Полис и убыток
              %h6.card-subtitle.mb-2.text-muted
                = act.ncase
                %br
                = act.polis_number
              %p.card-text 
              %h1
                = act.customer.name
                %small.text-muted 
              %h6.card-subtitle.mb-2.text-muted
                - if act.pvu?
                  ПВУ
                = act.polis_type.name
        
        - if @act.repair_statuses.present?
          .col.mb-4  
            .card.h-100.border-dark
              .card-body
                %h5.card-title 
                  Статусы ремонта
                %p.card-text
                  - @act.repair_statuses.each do |status|
                    %p.small.text-muted
                      = status.name
                      = time_tag(status.created_at) 
       
        - if current_user.admin? || current_user.specialist? || current_user.expert?
          .col.mb-4
            .card.h-100
              .card-body
                %h5.card-title 
                  Ценовая информация
                %h6.card-subtitle.mb-2.text-muted 
                  - if act.collect?
                    .badge.bg-danger Сбор документов
                  - if act.nal?
                    .badge.bg-danger Наличный расчет
                %p.card-text 
                  .row
                    - if act.summ_act?
                      .col
                        %h6.mb-2.text-muted Осмотр
                        %h5
                          = act.summ_act
                          %small.text-muted /р
                    - if act.summ_exp?
                      .col
                        %h6.mb-2.text-muted Экспертиза
                        %h5
                          = act.summ_exp
                          %small.text-muted /р
                    - if act.summ_viezd?
                      .col
                        %h6.mb-2.text-muted Выезд
                        %h5
                          = act.summ_viezd
                          %small.text-muted /р
                    - if act.summ_prm?
                      .col
                        %h6.mb-2.text-muted Прием
                        %h5
                          = act.summ_prm
                          %small.text-muted /р
        
        - if @similarvin_acts.count + @similarnumber_acts.count > 0
          .col.mb-4  
            .card.h-100.border-danger.mb-3
              .card-body
                %h5.card-title
                  Схожие дела
                %h6.card-subtitle.mb-2.text-muted по VIN:
                .card-text 
                  %p
                    - @similarvin_acts.each do |act|
                      %p
                        = link_to act.id, act_path(act)
                        от 
                        = time_tag(act.date)
                %h6.card-subtitle.mb-2.text-muted по номеру:
                .card-text 
                  %p
                    - @similarnumber_acts.each do |act|
                      %p
                        = link_to act.id, act_path(act)
                        от 
                        = time_tag(act.date)
    - if @act.content.present?
      .row
        .col.mb-3
          %h5.py-3 Свободное содержание:
          = @act.content
    .form_actions
      = link_to 'Сохранить', acts_path, :class => 'btn btn-primary '
      -# if !current_user.workshop?
      = link_to 'Редактировать', edit_act_path(@act), :class => 'btn btn-outline-secondary'
      = link_to "Клон", act_clodup_path(@act), :class => 'btn btn-outline-secondary'
      - if current_user.admin?
        = link_to 'Удалить', act_path(@act), data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, :class => 'btn btn-outline-danger'
    .row
      .col
        - if @act.additions.attached?
          %h1.py-3 
            Приложения
            %span.badge.bg-secondary= @act.additions.count
            = link_to 'Удалить приложения', delete_additions_act_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, :class => 'btn btn-link'
          - @act.additions.each do |addition|
            - if addition.representable?
              %span.d-inline-block{"data-bs-content" => addition.filename, "data-bs-toggle" => "popover", "data-bs-trigger" => "hover focus", "data-bs-placement" => "top", "data-bs-custom-class" => "custom-popover", tabindex: "0"}
                = link_to(image_tag(addition.representation(resize_to_limit: [100, 100])), rails_blob_path(addition, disposition: "attachment"))
          - @act.additions.each do |addition|
            - unless  addition.representable?
              %p
                %ul.icon-list.ps-0
                  %li.d-flex.align-items-start.mb-1= link_to addition.filename, rails_blob_path(addition, disposition: 'attachment')
        
        - if @act.calculations.attached? && !current_user.workshop?
          %h1.py-3 
            Калькуляция
            %span.badge.bg-secondary= @act.calculations.count
            = link_to 'Удалить калькуляции', delete_calculations_act_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, :class => 'btn btn-link'
          - @act.calculations.each do |calculation|
            - if calculation.representable?
              %span.d-inline-block{"data-bs-content" => calculation.filename, "data-bs-toggle" => "popover", "data-bs-trigger" => "hover focus", "data-bs-placement" => "top", "data-bs-custom-class" => "custom-popover", tabindex: "0"}
                = link_to(image_tag(calculation.representation(resize_to_limit: [100, 100])), rails_blob_path(calculation, disposition: "attachment"))
          - @act.calculations.each do |calculation|
            - unless calculation.representable?
              %p
                %ul.icon-list.ps-0
                  %li.d-flex.align-items-start.mb-1= link_to calculation.filename, rails_blob_path(calculation, disposition: 'attachment')

        - if @act.images.attached?
          %h1.py-3
            Фотоматериалы
            %span.badge.bg-secondary= @act.images.count
            = link_to "Скачать фотографии", act_path(@act, :format => 'zip'), :class => 'btn btn-link'
            = link_to 'Удалить фотографии', delete_images_act_path, data: {turbo_method: :delete, turbo_confirm: 'Are you sure?'}, :class => 'btn btn-link'

          -# #images.gallery
          -#   - @act.images.includes(:blob).references(:blob).order('active_storage_blobs.filename ASC').each do |image|
          -#     - if image.variable?
          -#       %div= image_tag(image.representation(resize_to_limit: [100, 100]), data: {original: url_for(image)} )
          -#     - if image.previewable?
          -#       %div= image_tag(image.representation(resize_to_limit: [100, 100]))
          
          -# %div{"data-controller" => "lightbox"}
          -#   - @act.images.includes(:blob).references(:blob).order('active_storage_blobs.filename ASC').each do |image|
          -#     = link_to url_for(image) do
          -#       =image_tag(image.representation(resize_to_limit: [100, 100]), class: "rounded mt-1")
          
          -# #images.gallery
          -#   - @act.images.includes(:blob).references(:blob).order('active_storage_blobs.filename ASC').each do |image|
          -#     - if image.variable?
          -#       %div= image_tag(image.representation(resize_to_limit: [100, 100]), data: {original: url_for(image)} )
          -#     - if image.previewable?
          -#       %div= image_tag(image.representation(resize_to_limit: [100, 100]))
          -if @current_user.gallery_type == '1'
            %div{"data-controller" => "lightbox"}
              - @act.images.includes(:blob).references(:blob).order('active_storage_blobs.filename ASC').each do |image|
                = link_to url_for(image) do
                  =image_tag(image.representation(resize_to_limit: [100, 100]), class: "rounded mt-1")
          -else
            .w-100
              #images.imageViewer
                .imageViewer-sizer
                  - @act.images.includes(:blob).references(:blob).order('active_storage_blobs.filename ASC').each do |image|
                    - if image.variable?
                      = image_tag(image.representation(resize_to_limit: [100, 100]), data: {original: url_for(image)}, class: "imageViewer-item" )

          -# without justified gallery
          -# - @act.images.joins(:blob).order('active_storage_blobs.filename ASC').each do |image|
          -#   = link_to url_for(image.imgproxy_url(width: 1980, height: 1680)) do
          -#     = image_tag(image.variant(resize_to_limit: [150, 150]), class: "img-thumbnail rounded-0")
          -#     = link_to 'Remove', delete_image_attachment_act_url(image.signed_id), method: :delete, data: { confirm: 'Are you sure?' }
              
    -# .row
    -#   .col
    -#     %h1.py-3
    -#       Комментарии
    -#     #comments
    -#       = render partial: "comments/form", locals: { commentable: @act }
    -#       - if params[:comment]
    -#         %p
    -#           Одна цепочка комментариев. #{link_to "Показать все комментарии", url_for()}
    -#       = render @comments, continue_thread: 5
    -#       %br
    -#       = paginate @comments
