.card
  .card-header
    %h1.display-4
      Сумма данных
  .card-body
    %h4 Отобрано моих дел:
    %p= column_chart @acts.where('created_at > ?', 24.months.ago).group_by_month(:created_at, format: "%B, %y").pluck("sum(summ_act)", "sum(summ_exp)")
    %p= @q.result.count
      