.card.shadow.mb-5
  .card-header
    .btn-group{"aria-label" => "...", :role => "group"}
      %button.btn.btn-primary{"data-bs-target" => "#searchModal", "data-bs-toggle" => "modal", :type => "button"}
        %i.bi.bi-search
        Поиск
      -# = link_to counts_acts_path(safe_params.merge(format: 'htm')), :class => "btn btn-outline-secondary"  do
      -#  %i.fas.fa-user-circle
      -#  Сумма данных
      - if current_user.role? :expert or current_user.role? :specialist or current_user.role? :viezdmaster
        %button.btn.btn-outline-secondary{"aria-controls" => "collapseBook", "aria-expanded" => "false", "data-bs-target" => "#collapseBook", "data-bs-toggle" => "collapse", :type => "button"}
          %i.bi.bi-book
          Книга регистрации
      - if current_user.admin?
        %button.btn.btn-outline-secondary{"aria-controls" => "collapseGenerator", "aria-expanded" => "false", "data-bs-target" => "#collapseGenerator", "data-bs-toggle" => "collapse", :type => "button"}
          %i.bi.bi-envelope
          Генератор книг
      %button.btn.btn-outline-secondary{"data-bs-target" => "#confirmModal", "data-bs-toggle" => "modal", :type => "button"}
        %i.bi.bi-table
        XLS
    .btn-group.float-end{"aria-label" => "...", :role => "group"}
      - if current_user.expert?
        .btn.btn-secondary
          =Act.last_act
          |
          =Act.last_exp
      = link_to new_act_path,
        :class => "btn btn-primary" do
        %i.bi.bi-plus-square
        Новое дело
  .card-body
    #collapseBook.collapse
      .card.bg-light.mb-3
        .card-body
          = form_tag '/acts/operation', method: :get do
            .row
              .col-sm-1
                = text_field_tag :month, nil, {placeholder: 'месяц', class: 'form-control'}
              .col-sm-1
                = text_field_tag :year, nil, {placeholder: 'год', class: 'form-control'}
              .col-sm-1
                = submit_tag 'Сформировать', class: 'btn btn-outline-secondary',  data: {turbo: false}
    #collapseGenerator.collapse
      .card.bg-light.mb-3
        .card-body
          = form_tag '/acts/bg', method: :get do
            .row
              .col-sm-2
                = collection_select :user, nil, User.where(active: '1').all.order(name: :asc), :id, :name, {include_blank: true, prompt: 'Сотрудник'}, {class: 'form-control'}
              .col-sm-1
                = text_field_tag :month, nil, {placeholder: 'месяц', class: 'form-control'}
              .col-sm-1
                = text_field_tag :year, nil, {placeholder: 'год', class: 'form-control'}
              .col-sm-1
                = submit_tag 'Сформировать', class: 'btn btn-outline-secondary'
    = render 'scope'
    = render 'search'
    = render 'confirm'
    %div{data: {controller: "infinite-scrolling"}}
      - if @acts.present?
        .table-responsive
          %table.table.table-hover
            %thead
              %tr
                %th= sort_link @q, :id, '№'
                %th= sort_link @q, :nexp, 'Экспертиза'
                %th= sort_link @q, :nact, 'Акт'
                %th= sort_link @q, :expert_id, 'Специалист'
                %th= sort_link @q, :expert_id, 'Эксперт'
                %th= sort_link @q, :date, 'Дата акта'
                %th= sort_link @q, :city_id, 'Отделение'
                %th= sort_link @q, :ts_mark, 'ТС'
                %th= sort_link @q, :customer_id, 'Заказчик'
            %tbody
              = render @acts
      -if @current_user.paging_type == '1'
        = paginate @acts, theme: 'per_page'
      -else
        = render 'kaminari/paging', objects: @acts
        
        