.card
  .card-header
    .row.align-items-center
      .col-md-9
        %h1.display-4 
          Дело # 
          = @act.id
          = @act.status.name
        %h6.text-mutted
          - if @act.done?
            %span.fas.fa-lock
          - if @act.crime?
            .badge.badge-dark подозрительное
          - if @act.prt > 50
            .badge.badge-dark высокий приоритет
        %p.text-muted
          Создано 
          = time_tag(@act.created_at)
          Обновлено
          = distance_of_time_in_words_to_now @act.updated_at 
          назад
      .col-md-3
        = render 'show_nav', act: @act
  .card-body
    = render 'show_act', act: @act
